header {
	flex: 0 1 auto;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 25px;
}

header div {
	margin-left: 10px;
}

section {
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
}

footer {
	flex: 0 1 auto;
	width: 100%
}

.msg {
	padding: 0px 0px 10px 10px;
}

#app-container {
	padding: 10px;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	height: 100vh;
}

#msg-box {
	display: flex;
	flex-direction: column-reverse;
	align-content: flex-end;
	overflow-y: scroll;
}

#msg-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#name-input {
	/*width: 100px;*/
	align-self: flex-start;
	margin-right: 5px;
}

#msg-input {
	margin-right: 10px;
}

input[type="file"] {
    display: none;
}

#img-input {
	margin-right: 10px;
}