<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ZChat</title>
    <meta name="description" content="Fully decentralized chat client using an epidemic protocol">
    <meta name="author" content="daviscodesbugs">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='/socket.io/socket.io.js'></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/default.css">
</head>

<body ng-app="zchat" ng-controller="mainCtrl">
    <div id="app-container">
        <header class="form-inline">
            <input type="text" class="form-control" id="name-input" ng-model="name" placeholder="Name">
            <div class="input-group">
                <input type="text" class="form-control" id="peer-input" ng-model="peer" placeholder="Peer">
                <div type="button" class="input-group-addon btn btn-default" ng-click="sendPeer()" ng-disabled="peer == null || peer.trim().length <= 0">
                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </header>

        <section id="msg-box" class="panel panel-default">
            <div></div>
            <div class="msg" ng-repeat="msg in messages | orderBy: '-time'">
                <div ng-if="!msg.isGiphy">
                    {{msg.sender}} ({{msg.time | date: 'mediumTime' }}): {{msg.message}}
                </div>
                <div ng-if="msg.isGiphy">
                    {{msg.sender}} ({{msg.time | date: 'mediumTime' }}):
                    <img ng-src="{{msg.message}}" title="GIF via Giphy"></center>
                </div>
            </div>
        </section>

        <footer>
            <form id="msg-container" ng-submit="sendMessage()">
                <input type="text" class="form-control" id="msg-input" ng-model="message" placeholder="Message...">
                <label class="btn btn-default" id="img-input">
                    Upload Image
                    <input type="file" id="img-upload" fileread="fileName" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                </label>
                <button type="button" class="btn btn-default" ng-click="sendMessage()">Send</button>
            </form>
        </footer>
    </div>
</body>

</html>